body {
  background-color: #4d121c;
}

/* .header__tittle {
  font-size: 80px;
  font-weight: 100;
  font-family: "Tangerine";
  text-align: center;
  color: black;
  -webkit-text-stroke: 2px gold;
} */

/* .welcome {
  text-align: center;
  margin-bottom: 50px;
}

.welcome__tittle {
  font-size: 35px;
  color: gold;
  font-family: "Oleo Script";
} */

.section__div {
  text-align: center;
  color: white;
  font-family: "Oleo Script";
}

.section__tittle {
  font-size: 40px;
  color: rgb(192, 167, 22);
}

/* ÁREA DE RECEITA */
.recipe__divbutton {
  text-align: center;
  margin-bottom: 20px;
}

.recipe__button {
  width: 200px;
  height: 60px;
  border-radius: 20px;
  cursor: pointer;
  background-color: var(--box);
  /* box-shadow: 2px 1px 1px 1px black; */
  border: outset 3px var(--tittle-border);
  font-family: "Momo Trust Display";
  text-transform: uppercase;
  color: var(--text);
}
/* FORA DA ÁREA DE RECEITA */

.section__main {
  height: 350px;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section__banner {
  display: block;
  text-align: center;
  margin: 40px;
}

.section__banner .img {
  border-radius: 100px;
  border: outset 5px var(--tittle-border);
  box-shadow: 2px 2px 2px 2px var(--border-shadow);
  width: 150px;
  height: 150px;
}

.section__banner .img:hover {
  transition: all 1s; /*não precisa do 1s*/
  transform: scale(1.2);
}

.section__menu-text {
  font-size: 25px;
  font-family: "Oleo Script";
  color: #d8bb15;
  text-shadow: 2px 5px 2px var(--border-shadow);
  margin: 15px;
}

/* section__link */ /*mantendo o ritmo*/

.section__button {
  width: 100px;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  background-color: var(--box);
  box-shadow: 2px 1px 1px 1px var(--border-shadow);
  border: outset 2px var(--tittle-border);
  font-family: "Momo Trust Display";
  color: var(--text);
}

.section__button:hover {
  transition: all;
  transform: scale(1.1);
}
