@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Dancing+Script:wght@400..700&family=Great+Vibes&family=Lobster&family=Oleo+Script:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Story+Script&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cherry: #9b0d2f;
  --oldgold: #b8860b;
  --black: #000000;
  --white: #ffffff;
}

body {
  background-image: url(../img/banners/veludo.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px;
  text-align: center;
  background-image: url(../img/banners/vin-banner.png);
  background-position: 0px -200px;
}

.header__tittle {
  font-size: 80px;
  font-weight: 100;
  font-family: "Lobster";
  text-align: center;
  color: var(--black);
  -webkit-text-stroke: 2px gold;
}

.header__text {
  font-size: 30px;
  color: var(--black);
  font-family: "Lobster";
  text-shadow: 2px 2px 2px var(--oldgold);
}

.footer {
  background-image: url(../img/banners/vin-banner.png);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__logo .img {
  width: 150px;
}

.footer__payment {
  text-align: center;
}

.footer__tittle {
  font-size: 30px;
  font-family: "Oleo Script";
}

.footer_payment .img {
  margin: 20px;
}

.footer__icon .img {
  width: 100px;
  margin-right: 70px;
}
