:root {
  --border-shadow: #000000;
  --white: #ffffff;
  --box: #6d1414;
  --text: #ffe4c4;
  --tittle-border: rgb(192, 169, 36);
  --borderdefault: rgb(160, 142, 28);
}

.standard {
  margin-bottom: 30px;
  text-align: center;
}

.standard__tittle {
  background-size: cover;
  font-size: 60px;
  color: var(--tittle-border);
  font-family: "Oleo Script";
  text-shadow: 2px 8px 2px var(--border-shadow); /*atrás(direita) / baixo / sombreamento*/
  text-align: center;
}

.standard__text {
  font-size: 25px;
  color: var(--tittle-border);
  text-shadow: 2px 7px 2px var(--border-shadow);
  font-family: "Lobster";
}

.section {
  background-size: 100vw 120vh;
  height: 100%;
  /* width: 1349px; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section__main {
  display: grid;
  grid-template-columns: repeat(3, 250px);
  gap: 60px;
  justify-content: center;
}

.section__div {
  margin-bottom: 40px;
  text-align: center;
}

.section__div .img {
  width: 250px;
  height: 270px;
  border-radius: 20px;
  border: outset 4px var(--tittle-border);
  box-shadow: 5px 2px 5px 2px black;
  margin-bottom: 10px;
  filter: saturate(80%);
}

.section__div-tittle {
  color: var(--tittle-border);
  font-size: 20px;
  text-shadow: 2px 7px 2px var(--border-shadow);
  font-family: "DM Serif Text";
}

.section__span {
  color: var(--white);
  font-family: "Dancing Script";
}

.section__input {
  width: 70px;
  text-align: center;
  font-size: 20px;
  border-radius: 10px;
  height: 35px;
  margin-bottom: 10px;
}

.section__input::-webkit-inner-spin-button,
.section__input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.section__button {
  font-size: 15px;
  padding: 10px;
  border-radius: 30px;
  background-color: var(--oldgold);
  font-family: "Lobster";
  cursor: pointer;
}

.section__button {
  background-color: var(--box);
  padding: 10px;
  border-radius: 10px;
 color: var(--text);
}

.section__button:hover {
  cursor: pointer;
}
