* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.recipe__tittle {
    text-align: center;
      color: white;
  font-size: 30px;
  text-shadow: 2px 2px 2px var(--black);
  font-family: "DM Serif Text";
}

.recipe__divmenu {

}

.recipe__img {
  width: 250px;
  height: 270px;
  border-radius: 20px;
  border: outset 3px #b8860b;
  box-shadow: 2px 2px 2px 2px black;
  margin-bottom: 10px;
}

