:root {
  --border-shadow: #000000;
  --white: #ffffff;
  --box: #6d1414;
  --text: #ffe4c4;
  --tittle-border: rgb(192, 169, 36);
  --borderdefault: rgb(160, 142, 28);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.recipe__tittle {
  text-align: center;
  color: var(--tittle-border);
  font-size: 30px;
  text-shadow: 2px 7px 2px var(--border-shadow);
  font-family: "DM Serif Text";
  margin: 30px;
}

.recipe__main {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  align-items: center;
  justify-content: center;
}

.recipe__div-menu {
  text-align: center;
  align-items: center;
  margin: 10px;
}

.recipe__comment {
  font-size: 12px;
  color: var(--text);
  margin-left: 10px;
  background-color: var(--box);
  border-radius: 10px;
  font-family: "Momo Trust Display";
  border: outset 3px var(--borderdefault);
  padding: 5px;
}

.recipe__img {
  width: 250px;
  height: 270px;
  border-radius: 20px;
  border: outset 5px var(--tittle-border);
  box-shadow: 5px 2px 5px 2px var(--border-shadow);
  margin-bottom: 10px;
  filter: saturate(80%);
}
