* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.recipe__tittle {
    text-align: center;
      color: white;
  font-size: 30px;
  text-shadow: 2px 2px 2px var(--black);
  font-family: "DM Serif Text";
}