/* ESTILO DE CSS MAIS ESPECÍFICO QUE O CSS GLOBAL (index.css) */

/*TAMBÉM PODE USAR .name-container*/
.nameContainer {
  background-color: black;
  border: 1px solid white;
}

.nameContent {
  color: green;
  background-color: aqua;
  margin: 0;
}
